.zoom {
    position: relative;
    overflow: hidden;
}

.zoom .img-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.zoom .img-bg img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Animasi zoom in */
@keyframes zoom-in {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.1);
    }
}

/* Animasi zoom out */
@keyframes zoom-out {
    from {
        transform: scale(1.1);
    }
    to {
        transform: scale(1);
    }
}

/* Animasi zoom in dan zoom out bergantian */
.zoom-anim {
    animation-name: zoom-in-out;
    animation-duration: 8s;
    animation-iteration-count: infinite;
}

/* Atur delay animasi pada zoom out agar mulus */
.zoom-anim.zoom-out {
    animation-delay: 4s;
}

/* Gabungkan animasi zoom in dan zoom out */
@keyframes zoom-in-out {
    0% {
        animation-timing-function: ease-in-out;
        transform: scale(1);
    }
    50% {
        animation-timing-function: ease-in-out;
        transform: scale(1.1);
    }
    100% {
        animation-timing-function: ease-in-out;
        transform: scale(1);
    }
}

/* Css Custom untuk card */

.card-button {
    transform: translate(-50%, 125%);
    width: 60%;
    border-radius: 1rem;
    border: none;
    background-color: #008bf8;
    color: #fff;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    position: absolute;
    left: 50%;
    bottom: 0;
    opacity: 0;
    transition: 0.3s ease-out;
}

/*Hover*/
.card:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
        rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
        rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    transform: scale(0.9);
    transition: all 0.9s;
}

.card:hover .card-button {
    transform: translate(-50%, -20%);
    opacity: 1;
}

/* Button Bergetar */

.tombol:hover > svg {
    font-size: 1.2em;
    transform: translateX(-5px);
}

.tombol:hover {
    box-shadow: 9px 9px 33px #d1d1d1, -9px -9px 33px #ffffff;
    transform: translateY(-2px);
}

/* Glasses Efect */
.glass {
    background: rgba(255, 255, 255, 0.48);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.4px);
    -webkit-backdrop-filter: blur(5.4px);
    border: 1px solid rgba(255, 255, 255, 0.24);
}
